$primary-color: #fff;
$secondary-color: #333;
$accent-color: #999;
$highlight-color: #ff3366;

$main-font: 'Montserrat', sans-serif;
$mono-font: 'Space Mono', monospace;

$font-small: 0.5rem;
$font-medium: 1rem;
$font-large: 2rem;

