@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800');

$primaryColor: #fff;
$secondaryColor: #333;
$accentColor1: #666;
$accentColor2: #bbb;
$highlightColor: #ff0000;

$mainFont: 'Montserrat', sans-serif;
$terminalFont: 'JetBrains Mono', monospace;

@mixin config-values {
  background-color: $secondaryColor;
  border: none;
  padding: calc(0.5rem + 1px);
  width: 100%;
  text-align: right;
  font-family: $terminalFont;
  font-size: 1rem;
}

@mixin config-values-with-hover {
  @include config-values;
  &:hover {
    background-color: $accentColor1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primaryColor;
}

.app-container {
  margin: 0 auto;
  width: 50rem;
}

h1 {
  color: $primaryColor;
  font-family: $mainFont;
}

p {  
  &.subtitle {
    padding-top: 1rem;
    
  }
  &.config-text {
    padding: calc(0.5rem + 2px) 0;
    font-style: italic;
  }
  &.config-text-value {
    @include config-values;
    color: $accentColor2;
  }
  height: 100%;
  font-size: 1rem;
  font-family: $mainFont;
}

h2 {
  color: $secondaryColor;
  font-family: $mainFont;
  padding: 1rem 0;
}

header {
  background-color: $secondaryColor;
  color: $primaryColor;
  padding: 1rem;
  text-align: center;
  padding: 2rem 0;
}

.device-list-container {
  background-color: $secondaryColor;
  color: $primaryColor;
  font-family: $terminalFont;
  padding: 1rem 1rem;
}

.device-list {
  list-style: none;
  max-height: calc(5 * 21px + 5 * 1rem);
  height: calc(5 * 21px + 5 * 1rem);
  overflow-y: auto;
  scroll-snap-type: y mandatory; 
  scroll-behavior: auto; 
  scrollbar-color: $accentColor1 $secondaryColor;
  scrollbar-width: auto;
}

li {
  scroll-snap-align: start;
}

button {
  &.device-button {
    background: none;
    color: inherit;
    border: none;
    font-family: $terminalFont;
    cursor: pointer;
    outline: inherit;
    text-align: left;
  }

  &.save-button {
    font-family: $mainFont;
  }
  &:hover{
    background-color: $accentColor1;
  }
  &.config-text-value {
    @include config-values-with-hover;
    color: $accentColor2;
    height: 100%;
  }
  background-color: $secondaryColor;
  color: $primaryColor;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
}

.config-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

input {
  &:focus {
    outline: none;
  }
  @include config-values-with-hover;
  color: $primaryColor;
}

.save-button-container {
  margin-top: 2rem;
  padding: 1rem;
  background-color: $secondaryColor;
}

select {
  @include config-values-with-hover;
  color: $primaryColor;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 10px; // Change this line
  background-position-y: center;
  border: none;
  
  text-align-last: right;
  direction: rtl;
  padding-left: 34px; // Add this line
}

// Add this new rule
select option {
  direction: ltr;
  background-color: $secondaryColor;
  color: $primaryColor;
  font-family: $terminalFont;
  font-size: 1rem;
  text-align: right;
  height: 100%;
}

.toggle-button {
  @include config-values-with-hover;
  cursor: pointer;
  color: $primaryColor;

  &:disabled {
    cursor: not-allowed;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $accentColor1;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $primaryColor;
  transition: .4s;
}


.custom-select {
  position: relative;
  font-family: $terminalFont;
  width: 100%;
}

.select-selected {
  @include config-values-with-hover;
  cursor: pointer;
  position: relative;
  color: $primaryColor; 
  height: 100%;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: $primaryColor transparent transparent transparent;
  transform: translateY(-25%); // Change this line
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent $primaryColor transparent;
  top: 50%;
  transform: translateY(-75%); // Add this line
}

.select-items {
  position: absolute;
  background-color: $secondaryColor;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: calc(5 * 39px);
  overflow-y: auto;
  color: $primaryColor;
}

.select-items div {
  @include config-values-with-hover;
  cursor: pointer;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: flex-end; // Align text to the right
}

.select-hide {
  display: none;
}



